

.piano {
    border: solid 4px black;
    position: relative;
    display: table;
}

.btn {
    border: solid 2px lightgrey;
    font-family: 'Courier New', Courier, monospace;
    height: 15rem;
    width: 3rem;
    position: relative;
    float: left;


}

.white {
    color: gray;
    background-color: white;
    z-index: 1;

    display: table-cell;
    vertical-align: text-bottom;


}

.black {
    color: gray;
    background-color: black;

    z-index: 2;
    height: 10rem;
    width: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;

}
    
.pushed {
    border: solid 2px black;
}

.octave {
    height: 3rem;
    width: 3rem;
}

.hidden{
    display: none;
}

@media (max-width: 700px) {
    .second-octave{
        display: none;
    }

    .fifth-octave{
        display: inline-block;
    }
    
     
        
    }