.form-control{
    width: 200px;
}

.image{
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;

}

.description{
    font-style: italic;
    color: white;
}

.title{
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
}

.tutorial{
    border: 1px solid black;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, .5);
}

#results{
    position: relative;
}

.search_btn{
    background-color: red;
}

.artist_name{
    font-size: 30px;
    font-weight: bold;
}

.album_name{
    font-style: italic; 
}

body{
    background-color: yellow;
}

.video{
    text-align: center;
}

.album_art{
    float: left;
}

.song_info{
    background-color: rgba(0, 0, 0, .5);
    color: white;   
}

.search_header{
    font-weight: bold;
    font-size: 30px;
}

.card{
    text-align: center;
}

